<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emekalites.react.alarm.notification">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>

        <!-- Alarm fires here -->
        <receiver
            android:name=".AlarmReceiver"
            android:exported="false" />

        <!-- Restart alarms after reboot -->
        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Background alarm service -->
        <service
            android:name=".AlarmService"
            android:exported="false" />

    </application>

</manifest>
